
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilos del Body */
body {
    background-color: #ffffff !important;
    background-image: url("../images/gameboy.png"); /* Fondo con imagen de Game Boy */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden; /* Evita scroll en la ventana */
}

/* Contenedor principal que actúa como la pantalla visible */
.gameboy-container {
    width: 66%; /* Ajusta para que encaje en el área transparente de la Game Boy */
    height: 85%; /* Ajusta para que encaje en el área transparente de la Game Boy */
    border-radius: 5px;
    /*box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);*/
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative;
    overflow: hidden;
    text-align: center;
    
}


/* Ajustes específicos de NES.css */


.nes-container.with-title > .title {
    background-color: #fff !important;
}

.nes-input, .nes-textarea, .nes-btn {
    border-image-repeat: stretch !important; 
}

.nes-input {
    font-size: 15px !important;
}
.nes-text {
    font-size: 14px;
    color: #000000;
}


label {
    margin: 20px;
    font-size: 15px;
}

/*ESTILOS AGREGADOS POR LEO PARA PAGINA PREGUNTA*/
.menuBtn:focus {
    outline: none;
}
.centered-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.gif {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif-img {
    position: unset !important;
    padding: 0 !important;
    width: 300px;
}
#spkHost{
    width: 350px;
    height: 100px;
    margin-bottom: 0;
}

.btnMessage{
    font-size: 15px;
    align-self: center;
    width: fit-content;
    color: white !important;
    padding: 10px;
    background-color: #493649 !important;
    
}

.btnMessage:hover {
    background-color: #8e777f !important;
    color: #493649 !important;
    box-shadow: 0 0 15px #493649, 0 0 25px #493649 !important;
}

