/* Estilo Global */
/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    background-image: url("../images/telon.gif"); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal con grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* GIF en los extremos */
.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-img {
    width: 200px; /* Ajusta el tamaño de los GIFs si es necesario */
}


/* Centramos todo en pantalla */
.centered-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.wheel-section {
    grid-column: 2 / 3; /* Columna del medio */
    grid-row: 1 / 4; /* Ocupar las tres filas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo del texto "Press Start" */
#pressStartText {
    font-size: 30px;
    color: #fff;
    animation: blink 1s step-end infinite;
}

#pressStartText:hover {
    font-size: 35px;
    text-shadow: 0 0 10px #fff;
    border-radius: 15px;
    color: #ffffff;
    animation: none;
}

/* Animación de parpadeo */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Esconde secciones que no se muestran aún */
.hidden {
    display: none;
}

/* Estilo de los botones del menú */
.spinBtn {
    margin-top: 20px;
    background-color: #FF6B6B;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px #333;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.spinBtn:hover {
    background-color: #FF3B3B;
    box-shadow: 0 0 15px #FF3B3B, 0 0 25px #FF3B3B;
}

/* Estilo de la ruleta */
#wheelCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

canvas {
    background-color: #222;
    border-radius: 150px;
    box-shadow: 0 0 10px #FF6B6B, 0 0 20px #FF6B6B;
}

/* Estilo del resultado */
#resultEl {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: #00FF41;
}

/* Estilo de flecha */
#arrowEl {
    margin-bottom: 10px;
    font-size: 50px;
    color: #FF6B6B;
    text-shadow: 0 0 10px #FF6B6B, 0 0 20px #FF6B6B;
}

/* Estilo de los botones de selección de jugadores */
.playersBtn {
    font-size: 24px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
}

.playersBtn:hover {
    font-size: 30px;
    text-shadow: 0 0 10px #fff;
}

/* Estilo del cuadro de diálogo */
.dialog-box {
    width: 100%;
    max-width: 400px;
background-color: #fff;
    border: 4px solid #000;
    border-radius: 0px; /* Bordes rectos para el estilo 8 bits */
    padding: 15px;
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-size: 12px;
    color: #000;
    text-align: left;
    box-shadow: 4px 4px 0 #333;
    z-index: 10;
    display: inline-grid;
    justify-content: center;
    margin: auto;
}

.gif-img {
    width: 300px;
    margin-top: 10px;
}



.nes-container.with-title>.title {
    display: table;
    padding: 0 .5rem;
    margin: -1.8rem 0 1rem;
    font-size: 1rem;
    background-color: #fff !important;
}

#btnLogin{
    margin:10px;
}