.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: relative;
}

/* Posición del GIF en la parte inferior izquierda */
.gif {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif-img {
    width: 300px;
}

.wheel-section {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: #493649;
    border-radius: 200px;
    box-shadow: 0 0 15px #8e777f, 0 0 25px #8e777f;
}
#wheelCanvas{
    margin-bottom: 50px;
}
#spinBtn {
    font-size: 15px;
    align-self: center;
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: #493649
}

#spinBtn:hover {
    background-color: #8e777f;
    color: #493649;
    box-shadow: 0 0 15px #493649, 0 0 25px #493649;
}

#resultEl {
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #00FF41;
}

.backBtn{
    border: none !important;
    background-color: transparent !important;
}
.backBtn:hover{
    border: none !important;
    color: #493649;
}



